// this 01main.scss imported in _root.scss

.logo {
  display: block;
  flex-basis: 12rem;
  height: 3.2rem;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;

  &_h{
    width: 17.9rem;
    height: 4.8rem;
  }
  @media (max-width: 320px){
    flex-basis: 9.6rem;
    height: 2.5rem;
  }  
}

.main {
  position: relative;
  padding-bottom: 169px;
  z-index: 0;

  &__food{
    display: block;
    color: rgba($green, 0.8);
  }
  &__cucumber {
    position: absolute;
    top: 0;
    left: 37%;
    width: 85px;    
    z-index: -1;
  }
  &__avocado {
    position: absolute;
    top: 56px;
    right: 0;
    width: 194px;
    z-index: -1;
  }
  &__pepper {
    position: absolute;
    top: 36%;
    left: 47px;
    width: 86px;
    z-index: -1;
  }  
  &__beans {
    position: absolute;
    bottom: 14%;
    left: 0;
    width: 138px;
  }
  &__tomato{
    position: absolute;
    bottom: 9%;
    right: 6%;
    width: 110px;
  }
  @media (max-width: 1730px){
    &__pepper{
      top: 12%;
    }
  }
  @media (max-width: 1200px){
    &__beans{
      bottom: 1%;
    }
  }
  @media (max-width: 1170px){
    &__avocado{
      display: none;
    }
  }
  @media (max-width: 768px){
    &__tomato{
      top: 12%;
      left: -32px;
    }
    &__pepper{
      top: 43%;
    }
    &__beans{
      display: none;
    }
    &__avocado{
      display: block;
      top: 12%;
      right: -102px;
    }
    &__cucumber{
      top: 70%;
      right: 0;
      transform:rotate(90deg);
    }
  }
}

.link{
  color:$white;
  letter-spacing: .13rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5rem 4.2rem;
  box-shadow: 0px 1rem 1.1rem .2rem rgba(207,92,13,0.2);
  border-radius: 3.8rem;
  border: none;
  display: inline-block;
  cursor: pointer;

  background-color: $orange;
  // border: 3px solid transparent;
  &:hover{
    background-color: $darkorange; 
    // border: 3px solid black;
  }
  &_s{
    font-size: 14px;
    padding: 2.1rem 3.5rem;
    border-radius: calc(7px + 2.1rem);
  }
}

