// this 01main.scss imported in _root.scss
.main {
  position: relative;
  padding-bottom: 169px;
  z-index: 0;

  @media (max-width: 768px){
    padding-bottom: 26px;
  }

  &__food{
    display: block;
    color: rgba($green, 0.8);
  }
  &__cucumber {
    position: absolute;
    top: 0;
    left: 36%;
    width: 85px;    
    z-index: -1;
  }
  &__cucumber2 {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;    
    z-index: -1;
  }
  &__avocado {
    position: absolute;
    top: 56px;
    right: 0;
    width: 194px;
    z-index: -1;
  }
  &__avocado2{
    position: absolute;
    display: none;
    top: 56px;
    right: 0;
    width: 94px;
    z-index: -1;
  }
  &__pepper {
    position: absolute;
    top: 36%;
    left: 47px;
    width: 86px;
    z-index: -1;
  }  
  &__beans {
    position: absolute;
    bottom: 14%;
    left: 0;
    width: 138px;
  }
  &__tomato{
    position: absolute;
    bottom: 9%;
    right: 6%;
    width: 110px;
  }
  @media (max-width: 1730px){
    &__pepper{
      top: 12%;
    }
  }
  @media (max-width: 1200px){
    &__beans{
      bottom: 1%;
    }
  }
  @media (max-width: 1170px){
    &__avocado{
      display: none;
    }
    &__avocado2{
      display: block;
      top: 110px;
      left: initial;
      right: 0;
      width: 94px;
      // z-index: -1;
    }
  }
  @media (max-width: 768px){
    &__tomato{
      top: 50px;
      left: -32px;
    }
    &__pepper{
      top: 350px;
      z-index: 2;
    }
    &__avocado2{
      top: 60px;
    }
    &__cucumber2 {
      display: block;
      top: 670px;
      right: 0;
      width: 45px;    
      z-index: -1;
    }
    &__beans{
      display: none;
    }
    &__cucumber{
      display: none;
    }
  }
  @media (max-width: 440px){ // здоровая еда не помещается

  }
}


