// this 011main.header.scss imported in _root.scss
$rd_1280: 1280px;
$rd_1170: 1170px;
$rd_1024: 1024px;

.header {
  margin: 0 auto 6rem;
  max-width: 1440px;
  padding: 4rem 15px 0 15px; // отступ сверху
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:5%;

  &__navigation{
    flex-grow: 1;
    margin-left: 3.2%;
  }
  &__nav{
    display: flex;
    // list-style-type: none; // in listClr
    // margin: 0;
    // padding-left: 0;
    gap:4.8rem;
  }
  &__link{
    color:$green;
    text-decoration: none;
    &:hover{
      color: red; // $orange;
    }
  }
  &__tel{
    text-decoration: none;
    text-align: right;
    font-weight: 500;
    flex-basis: 16rem;
    letter-spacing: .13rem;
    color:$green;
    margin-right: 7px;
    &:hover{
      color: $orange;
    }
  }
  &__menu{
    display: none;
    flex-basis: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(../images/h-menu.svg);
    background-size: 1.7rem 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid $green;
    &:hover{
      border: 1px solid $green;
    }
  }
  &__cart{
    display: block;
    flex-basis: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $orange;
    background-image: url(../images/cart-white.svg);
    background-size: 1.7rem 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid $orange;
    &:hover{
      border: 1px solid $green;
      background-color: $green;
    }
  }
  &__counter{
    font-size: .8rem;
    color: $white;
    position: absolute;
    right: 1rem;
    top: .5rem;
  }

  // ================ medias
  @media (max-width: $rd_1280){
    gap:3%;

    &__navigation{
      margin-left: 0;
    }
    &__nav{
      justify-content: end;
    }
  }
  @media (max-width: $rd_1170){
    gap:2.5%;

    &__tel{
      font-size: 0;
      // display: block;
      flex-basis: auto;
      width: 4rem; height: 4rem;
      border-radius: 50%;
      background-color: $orange;
      background-image: url(../images/tel_3.svg);
      background-size: 1.7rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      border: 1px solid $orange;
      &:hover{
        border: 1px solid $green;
        background-color: $green;
      }
    }
  }
  @media (max-width: $rd_1024){
    gap:2.2rem;

    &__nav{
      display: none;
    }
    &__tel{
      font-size: 0;
      // display: block;
      flex-basis: auto;
      width: 4rem; height: 4rem;
      border-radius: 50%;
      background-color: transparent;
      background-image: url(../images/h-phone.svg);
      background-size: 1.7rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      border: 1px solid $green;
      &:hover{
        border: 1px solid $green;
      }
    }
    &__menu{
      display: block;
      flex-basis: auto;
      width: 4rem; height: 4rem;
      border-radius: 50%;
      background-color: transparent;
      background-image: url(../images/h-menu.svg);
      background-size: 1.7rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      border: 1px solid $green;
      &:hover{
        border: 1px solid $green;
      }
    }
    &__cart{
      flex-basis: auto;
      width: 4rem; height: 4rem;
      background-color: transparent;
      background-image: url(../images/h-cart.svg);
      border: 1px solid $green;
      &:hover{
        border: 1px solid $green;
        background-color: transparent;
      }
    }
      
  }

  // @media (max-width: $rd_1150){
  //   &__nav{
  //     justify-content: space-between;
  //     gap: unset;
  //   }
  // }

  @media (max-width: 1320px){

  }
  @media (max-width: 16px) {
    gap:1.1rem;

    &__nav{
      
    }
    &__tel{
      font-size: 0;
      // display: block;
      flex-basis: auto;
      width: 4rem; height: 4rem;
      border-radius: 50%;
      background-color: transparent;
      background-image: url(../images/h-phone.svg);
      background-size: 1.7rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      border: 1px solid $green;
      &:hover{
        border: 1px solid $green;
      }
    }
    &__menu{
      display: block;
      flex-basis: auto;
      width: 4rem; height: 4rem;
      border-radius: 50%;
      background-color: transparent;
      background-image: url(../images/h-menu.svg);
      background-size: 1.7rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      border: 1px solid $green;
      &:hover{
        border: 1px solid $green;
      }
    }
    &__cart{
      flex-basis: auto;
      width: 4rem; height: 4rem;
      background-color: transparent;
      background-image: url(../images/h-cart.svg);
      border: 1px solid $green;
      &:hover{
        border: 1px solid $green;
        background-color: transparent;
      }
      }
  }
} // .header 


