// this 012main.text.scss imported in _root.scss
.main {
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 1;
  }

  &__text{
    padding-top: 2rem;
  }
  &__item{
    // margin-left: 12rem; // отступ подзаголовка
    max-width: 378px;
    margin-top: 6rem;
  }
  &__link{
    margin-top: 4.5rem;
  }

  // =======Plate================
  &__imagemob{
    display: none;
  }
  &__cover{
    flex-basis: 758px;
    height: 758px;
        
    border: 1px solid rgba($green,0.4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__line{
    width: 656px; 
    height: 656px;
    border: 1px solid rgba($green,0.4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image{
    width: 90%; 
    border-radius: 50%;
    animation: shadowGo 5s infinite ease-in-out;
  }
  &__btn{
    border: none;
    padding: 0;
    position: absolute;
    color: $green;
    text-align: left;

    // background-color: transparent;
    // transition:all 1.3s;

    &::before{
      content: '';
      background-color: $green;
      width: 11px; height: 11px;
      box-shadow: 0 0 0 4px rgba($white, 1), 0 0 0 5px rgba($green, 1);
      border-radius: 50%;
      position: absolute;

      // transition:all 1.3s;
    }
    &:hover{
      // .main__btn{
        &::before{
          background-color: $orange;
          box-shadow: 0 0 0 4px rgba($white, 1), 0 0 0 5px rgba($orange, 1);
        }
      // }
    }
    &_1{
      top: 96px;
      left: 25px;
      &::before{
        top: 15px;
        right:-24px;
      }
    }
    &_2{
      top: 139px;
      right: 49px;
      &::before{
        top: 15px;
        left: -20px;
      }
    }
    &_3{
      bottom: -36px;
      right: 245px;
      &::before{
        top: -18px;
        right: 32px;
      }
    }
  }

  // --------media----------------------
  @media (max-width: 1440px){
    &__cover{
      flex-basis: 52vw;
      height: 52vw;
    }
    &__line{
      width: 45vw; 
      height: 45vw; 
    }
    &__btn{
      &_1{
        //top: calc(96px - (1440px - 100vw)*(0.17));
        @include vVal(top, 1400px, 1200px, 90px, 57px);
      }
      &_2{
        //  top: calc(139px - (1440px - 100vw)*(0.225));
        @include vVal(top, 1400px, 1200px, 125px, 85px);
      }
      &_3{
        // bottom: calc(-36px - (1440px - 100vw)*(0.04));
        // -38px -48px -6px
        @include vVal(bottom, 1400px, 1200px, -40px, -48px);
      }
    }
  }
  @media (max-width: 1200px){
    &__flex{
    }
    // &__item{
    //   margin-left: 0; // отступ подзаголовка
    // }    
    &__cover{
      border: none;
    }
    &__btn{
      &_1{
        @include vVal(top, 1200px, 1024px, 118px, 83px);
      }
      &_2{
        @include vVal(top, 1200px, 1024px, 85px, 54px);
      }
      &_3{
        @include vVal(bottom, 1200px, 1024px, -6px, -14px);
      }
    }
  }
  @media (max-width: 1024px){
    &__btn{
      &_1{
        @include vVal(top, 1024px, 900px, 72px, 75px);
        @include vVal(left, 1024px, 900px, 105px, 60px);
      }
      &_2{
        top:40px;
        @include vVal(right, 1024px, 900px, 107px, 75px);
      }
      &_3{
        @include vVal(bottom, 1024px, 900px, 22px, 38px);
        @include vVal(right, 1024px, 900px, 275px, 204px);
      }
    }
    &__flex{
      align-items: start;
      gap: 15;
    }
    &__line{
      border: none;
      width: 100%;
    }
    &__image{
      width: 100%; 
    }
    &__cover{
      border: none;
    }
  }
  @media (max-width: 900px){
    &__btn{
      display: none;
    }
  }
  @media (max-width: 768px){
    &__text{
      flex-basis: 100%;
      text-align: center;
    }
    &__item{
      max-width: 100%;
    }
    &__imagemob{
      display: block;
      max-width: 300px;
      margin: 0 auto;
      margin-top: 3rem;
      animation: shadowGo 5s infinite ease-in-out;
      border-radius: 50%;
    }
      &__cover{
      display: none;
    }
  }

}

// @keyframes shadowGo {
//   0%{
//     box-shadow: 0 0 0 0px rgba($green,0.50);
//   }
//   50%{
//     transform:rotate(10deg); 
//     box-shadow: 10px 15px 30px 0px rgba($green,0.50);
//   }
//   100%{
//     box-shadow: 0 0 0 0px rgba($green,0.50);
//   }
// }
