// this 01main.scss imported in _root.scss

.logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12rem;
  height: 3.2rem;
}

.header {
  margin: 0 auto 6rem;
  max-width: 1440px;
  padding: 4rem 15px 0 15px; // отступ сверху
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav{
    display: flex;
    // list-style-type: none; // in listClr
    // margin: 0;
    // padding-left: 0;
    gap:4.8rem;
  }
  &__link{
    color:$green;
    text-decoration: none;
    &:hover{
      color: $orange;
    }
  }
  &__tel{
    font-weight: 500;
    color:$green;
    text-decoration: none;
    &:hover{
      color: $orange;
    }
  }
  &__cart{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $orange;
    background-image: url(../images/cart-white.svg);
    background-size: 1.7rem 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid $orange;
    &:hover{
      border: 1px solid $green;
      background-color: $green;
    }
  }
  &__counter{
    font-size: .8rem;
    color: $white;
    position: absolute;
    right: 1rem;
    top: .5rem;
  }
}

.main {
  background-image: url(../images/bg/main.png);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  padding-bottom: 187px;
  z-index: 0;
  &__item{
    margin-left: 12rem;
    max-width: 378px;
    margin-top: 6rem;
  }
  &__link{
    margin-top: 6rem;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__cover{
    flex-basis: 758px;
    height: 758px;
    border: 1px solid rgba($green,0.4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__line{
    width: 656px; 
    height: 656px;
    // box-shadow: 0 0 0 1px rgba($green,0.4), 0 0 0 53px white, 0 0 0 54px rgba($green,0.4);
    border: 1px solid rgba($green,0.4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__image{
    width: 90%; 
    box-shadow: 5px 15px 10px 0px rgba($green,0.50);
    border-radius: 50%;
  }
  &__text{
    padding-top: 4rem;
  }
  &__btn{
    border: none;
    padding: 0;
    position: absolute;
    color: $green;
    text-align: left;
    &:hover{
      // .main__btn{
        &::before{
          background-color: $orange;
          box-shadow: 0 0 0 4px rgba($white, 1), 0 0 0 5px rgba($orange, 1);
        }
      // }
    }
    &::before{
      content: '';
      background-color: $green;
      width: 11px; height: 11px;
      box-shadow: 0 0 0 4px rgba($white, 1), 0 0 0 5px rgba($green, 1);
      border-radius: 50%;
      position: absolute;
    }
    &_1{
      top: 96px;
      left: 25px;
      &::before{
        top: 15px;
        right:-24px;
      }
    }
    &_2{
      top: 139px;
      right: 49px;
      &::before{
        top: 15px;
        left: -20px;
      }
    }
    &_3{
      bottom: -36px;
      right: 245px;
      &::before{
        top: -18px;
        right: 32px;
      }
    }
  }
  &__food{
    display: block;
    color: rgba($green, 0.8);
  }
  &__cucumber {
    position: absolute;
    top: 0;
    left: 37%;
    width: 85px;    
    z-index: -1;
  }
  &__avocado {
    position: absolute;
    top: 56px;
    right: 0;
    width: 194px;
    z-index: -1;
  }
  &__pepper {
    position: absolute;
    top: 36%;
    left: 47px;
    width: 86px;
    z-index: -1;
  }  
  &__beans {
    position: absolute;
    bottom: 14%;
    left: 0;
    width: 138px;
  }
  &__tomato{
    position: absolute;
    bottom: 9%;
    right: 6%;
    width: 110px;
  }
}

.link{
  color:$white;
  letter-spacing: .13rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5rem 4.2rem;
  background-color: $orange;
  box-shadow: 0px 1rem 1.1rem .2rem rgba(207,92,13,0.2);
  border-radius: 3.8rem;
  border: none;
  display: inline-block;
  &_s{
    font-size: 14px;
    padding: 2.1rem 3.5rem;
    border-radius: calc(7px + 2.1rem);
  }
  &_h{
    &:hover{
      background-color: #BF601F; 
    }
  }
}