// this 03about.scss imported in _root.scss
.about{
  color: $green;
  
  &-title_lineH{
    line-height: 1.2;
  }
  &__box{
    margin-top: 93px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
  }
  &__text{
    // margin-left: 112px; // отступ подзаголовка
    max-width: 600px;
    font-family: $font-jost;
    font-size: 1.8rem;
    font-weight: 400;
  }
  &__list{
    display: flex;
    gap: 73px;
  }
  &__item{
    font-family: $font-corm;
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    display: inline-block;
    width: 110px;
    text-align: center;
    position: relative;
    // background-color: red;

    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 30px, 14px);
      @include vVal(width, 768px, 320px, 110px, 60px);
    }
    @media (max-width: 320px){
      font-size: 14px;
      width: 60px;
    }

    &::after{
      content: '';
        border-radius: 50%;
        border: 1px solid rgba($green, .4);
        display: block;
        position: absolute;
        width: 88px; height: 88px;
        top: -100px;
        left: calc(50% - 44px);
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: 768px){
          @include vVal(width, 768px, 320px, 88px, 61px);
          @include vVal(height, 768px, 320px, 88px, 61px);
          @include vVal(top, 768px, 320px, -100px, -70px);
          left: 3px;
        }
        @media (max-width: 320px){
          font-size: 14px;
        }
    
    }
    &_1::after{
      background-image: url(../images/about1.svg);
      background-size: 43px 41px;
    }
    &_2::after{
      background-image: url(../images/about2.svg);
      background-size: 39px 39px;
    }
    &_3::after{
      background-image: url(../images/about3.svg);
      background-size: 45px 39px;    }
  }

  // -------------- media --------------
  @media (max-width: 1440px){
    &__box{
      @include vVal(margin-top, 1400px, 1200px, 93px, 50px);
    }
  }
  @media (max-width: 1200px){
    &__box{
      @include vVal(margin-top, 1400px, 1200px, 93px, 50px);
      margin-top: 50px;
      gap: 10px;
    }
    &__list{
      @include vVal(gap, 1200px, 768px, 73px, 15px);
    }
  }
  // @media (max-width: 1024px){
  //   &__list{
  //     gap: 45px;
  //   }
  // }
  // gap: 45px;
  @media (max-width: 768px){
    &-title_lineH{
      text-align: center;
    }
    &__box{
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items:center;
      gap: 0px;
    }
    &__text{
      text-align: center;
    }
    &__list {
      margin-top: 120px;
      width: calc(100% - 30px);
      justify-content: space-between;
    }     
  }
// @include vVal(padding-top, 1400px, 320px, 95px, 41px);
}