// this 04trends.scss imported in _root.scss
.trends{
  padding-top: 19rem;
  padding-bottom: 12.8rem;

  @media (max-width: 1440px){
    @include vVal(padding-top, 1400px, 320px, 190px, 90px);
  }

  &__text{
    margin-top: 34px;
    max-width: 710px;
  }
  
  // swiper in offer
  &__slider{
    overflow: hidden;
    padding-top: 95px;
    // background-color: green;

    @media (max-width: 1440px){
      @include vVal(padding-top, 1400px, 320px, 88px, 45px);
    }
    @media (max-width: 768px){
      max-width: 384px;
      margin: 0 auto;
    }
    @media (max-width: 320px){
      padding-top: 45px;
    }
  }

  .swiper{
    overflow: initial;

    &-slide{
      height: 686px;
      padding-left: 41px;
      padding-right: 41px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      @media (max-width: 1440px){
        @include vVal(height, 1400px, 768px, 686px, 430px);
      }
      @media (max-width: 768px){
        height: 430px;
      }
      @media (max-width: 420px){
        @include vVal(height, 420px, 320px, 430px, 302px);
      }
      @media (max-width: 320px){
        height: 302px;
      }

      &__img{
        max-height: 300px;
        max-width: 70%;
        object-fit: contain;
        flex-grow: 1;

        @media (max-width: 1024px){
          max-width: 45%;
        }
        @media (max-width: 768px){
          max-height: 30%;
        }
        @media (max-width: 420px){
          max-height: 50%;
        }
        // 420    max-height: 50%;
      }
      &__title{
        font-family: $font-corm;
        font-weight: 700;
        font-size: 3rem;
        margin: 0;
        width: 100%;

        @media (max-width: 420px){
          font-size: 14px;
          text-align: center;
        }
      }
      &__description{
        font-family: $font-jost;
        font-size: 1.6rem;
        font-weight: 400;
        opacity: 0.70;
        width: 100%;
        margin-top: 19px;
        line-height: 1.5;
        height: 70px;
        overflow: hidden;

        @media (max-width: 1024px){
          margin-top: 9px;
        }
        @media (max-width: 420px){
          font-size: 12px;
          height: auto;
          margin-top: 10px;
          margin-bottom: -5px;
          text-align: center;
        }
      }
      &__price{
        font-family: $font-jost;
        font-size: 24px;
        font-weight: 400;
        color: $green;        
        width: 100%;

        @media (max-width: 420px){
          font-size: 14px;
          text-align: center;
        }
      }

      &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-width: 360px;
        box-sizing: border-box;
        padding-right: 6px;   

        @media (max-width: 1200px){
          min-width: 340px;
          @include vVal(min-width, 1200px, 1024px, 340px, 300px);
          margin-left: 6px;
        }
        @media (max-width: 420px){
          margin-left: 0px;
          display: block;
          text-align: center;  
        }
      }

      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        box-sizing: border-box;
        border: 1px solid rgba($green, 0.3);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 20px;
        z-index: -1;

        @media (max-width: 420px){
          @include vVal(width, 420px, 320px, 384px, 211px);
          @include vVal(left, 420px, 320px, 0px, 40px);
        }
        @media (max-width: 320px){
          width: 211px;
          left: calc((100% - 211px)/2);
        }
      }
    }
  }

  // -------------- media --------------
  @media (max-width: 768px){
    &__text-block{
      text-align: center;
    }
  }
}

.counter{
  display: flex;
  justify-content: space-between;

  @media (max-width: 420px){
    display: none;
  }
  
  &__btn{
    cursor: pointer;
    width: 50px; height: 50px;
    border: 1px solid $green;
    border-radius: 50%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    padding: 0;
    opacity: .4;
    &:hover{
      opacity: 1;
    }
    &_disabled{
      pointer-events: none;
      opacity: .4;
    }
  }
  &__minus{
    background-image: url(../images/minus-counter.svg);
  }
  &__plus{
    background-image: url(../images/plus-counter.svg);
  }
  &__input{
    text-align: center;
    font-size: 2.4rem;
    width: 46px;
    border: none;
    padding: 0;
    border: none; // 1px solid rgba($green, .4);
    &:focus{
      //border: 1px solid rgba($green, 1);
      outline: none;
    }
  }

  &_min{
    .counter__btn{
      width: 41px; height: 41px;
    }
    .counter__input{
      width: 32px;
    }
  }
}