// this 05catalog.scss imported in _root.scss
.catalog{
  color: $green;
  padding-top: 50px;

  &__space1{
    height: 86px;

    @media (max-width: 1440px){
      @include vVal(height, 1440px, 320px, 86px, 32px);
    }
  }
  &__hide{
    // background-color: red;
    overflow: hidden;   
    width: calc(100% + 15px);
    height: 166px;
    height: 79px;
    margin-bottom: 43px;

    @media (max-width: 1440px){
      // @include vVal(height, 1440px, 768px, 166px, 141px);
      @include vVal(height, 1440px, 768px, 79px, 54px);
      @include vVal(margin-bottom, 1440px, 320px, 48px, 19px);
    }
    @media (max-width: 768px){
      // @include vVal(height, 768px, 320px, 141px, 128px);
      @include vVal(height, 768px, 320px, 54px, 41px);
      @include vVal(width, 768px, 640px, 684px, 620px);
    }
    @media (max-width: 640px){
      @include vVal(width, 640px, 320px, 620px, 305px);
    }
    @media (max-width: 320px){
      width: 305px;
    }
  }
  &__coontainer{
    // width: calc(100% + 60px);
    overflow-x: auto;
    // background-color: aquamarine;
    text-align: left;
  }

  &-tabs{
    // margin-top: 87px;
    display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    gap: 19px;
    // justify-content: center;

    margin-bottom: 44px;

    @media (max-width: 1440px){
      @include vVal(margin-bottom, 1400px, 320px, 44px, 19px);
    }
    @media (max-width: 1100px){
      // justify-content: center;
    }
    @media (max-width: 320px){
      margin-bottom: 19px;
    }

    &__link{
      display: block;
      text-decoration: none;
      color: $green;
      opacity: 0.50;
      font-size: 18px;
      font-weight: 400;
      text-align: center;

      width: 231px;
      text-align: center;
      border: 1px solid $green;
      border-radius: calc(27px + 9px);
      box-sizing: border-box;
      // padding: 27px;
      padding-top: 27px;
      padding-bottom: 27px;

      &_selected{
        color: $orange;
        border: 1px solid $orange;
        opacity: 1;
      }
      &:hover{
        color: $orange;
        border: 1px solid $orange;
        opacity: 1;
      }

      @media (max-width: 1440px){
        @include vVal(font-size, 1440px, 320px, 18px, 10px);
        @include vVal(width, 1440px, 320px, 231px, 120px);
        @include vVal(padding-top, 1440px, 320px, 27px, 12px);
        @include vVal(padding-bottom, 1440px, 320px, 27px, 12px);
      }
      @media (max-width: 320px){
        font-size:10px;
        width:120px;
        padding-top:12px;
        padding-bottom:12px;
      }
  
    }
  }
  &__grid{
    display: grid;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;

    @media (max-width: 1370px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 640px){
      gap: 9px;
    }
    @media (max-width: 970px){
      grid-template-columns: repeat(2, 1fr);
    }

    &_active{
      display: grid;  
    }
  }

  &__item{
    // width: 345px; 
    height: 516px;
    box-sizing: border-box;
    border: 1px solid rgba($green, 0.4);
    border-radius: 20px;

    display: grid;
    // grid-template-rows: 1fr 50px 60px 58px 95px;
    grid-template-rows: 1fr 50px 75px 37px 95px;

    @media (max-width: 640px){
      @include vVal(height, 640px, 320px, 516px, 240px);
      @include vCalc1(640px, 320px, 280px, 90px);
      @include vCalc2(640px, 320px, 37px, 19px);
      @include vCalc3(640px, 320px, 63px, 60px);
      @include vCalc4(640px, 320px, 95px, 77px);
      grid-template-rows: $glob1 $glob2 $glob3 auto $glob4; 
      // grid-template-rows: 280px 37px 63px auto 95px; 
      // grid-template-rows: 90px  19px 60px auto 77px;
    }
    @media (max-width: 320px){
      grid-template-rows: 90px 19px 60px auto 77px;
      height: 240px;
    }

    &:hover{
      box-shadow: 0 0 0 2px rgba($green, 0.4) inset; 
    }
    &_cmn{
      // height: 100%;
      box-sizing: border-box;
      margin: 0;
    }
  }
  &__img{
    // display: none;
    // background-color: beige;

    img{
      display: block;
      margin: 0 auto;
      max-height: 250px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 20px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      // display: none;
      // background-color: aquamarine;

      @media (max-width: 640px){
        padding: 5px;
        max-height: 100%;
      }
    }
  }
  &__title{
    margin-left: 29px;
    font-family: $font-corm;
    font-weight: 700;
    font-size: 3rem;
    // display: none;

    @media (max-width: 1440px){
      @include vVal(margin-left, 1440px, 320px, 29px, 0px);
    }
    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 30px, 14px);
    }
    @media (max-width: 640px){
      margin-left: 0;
      text-align: center;
    }
    @media (max-width: 320px){
      font-size: 14px;
    }
  }
  &__description{
    margin-left: 29px;
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1.5;
    width: calc(100% - 60px);

    @media (max-width: 1440px){
      @include vVal(margin-left, 1440px, 320px, 29px, 0px);
    }
    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 16px, 10px);
    }
    @media (max-width: 640px){
      text-align: center;
      width: calc(100% - 10px);
    }
    @media (max-width: 320px){
      font-size: 10px;
    }
  }
  &__price{
    margin-left: 29px;
    font-family: $font-jost;
    font-size: 24px;
    font-weight: 400;
    color: $green;        

    @media (max-width: 1440px){
      @include vVal(margin-left, 1440px, 320px, 29px, 0px);
    }
    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 24px, 12px);
    }
    @media (max-width: 640px){
      margin-left: 0px;
      text-align: center;
    }
    @media (max-width: 320px){
      font-size: 12px;
    }
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;

    box-sizing: border-box;
    padding-left: 26px;      
    padding-right: 20px;

    @media (max-width: 640px){
      padding-left: 8px;      
      padding-right: 8px;
    }
  }
  
  // -------------- media --------------
  @media (max-width: 768px){
    &__text-block{
      text-align: center;
    }
  }
}

.more{
  position: relative;
  text-align: center;
  
  &__link{
    display: inline-block;
    position: relative;
    border: none;
    background-color: transparent;

    opacity: 0.8;
    text-decoration: none;
    text-transform: uppercase;
    color: $green;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 62px;
    margin-bottom: 20px;
    margin-left: 40px;

    @media (max-width: 1440px){
      @include vVal(margin-top, 1400px, 320px, 62px, 41px);
      @include vVal(font-size, 1400px, 320px, 16px, 10px);
    }

    &:hover{
      opacity: 1;
      &::before{
        opacity: 1;
      }
    }
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/more.svg);
      width: 25px; height: 25px;
      left: -30px; top:-6px;
      opacity: 0.8;
    } 
  }
}

@media (max-width: 640px){
  .catalog .counter{
    display: none;
  }
  .catalog .catalog__footer{
    justify-content: center;
  }
}
