// this 07contact.scss imported in _root.scss
.contact{
  padding-top: 207px;
  padding-bottom: 160px;

  &-box{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    &__text{
      max-width: 400px;
      flex-grow: 1;
      margin-top: 4rem;
      margin-left: 12rem;
    }
    &__list{
      padding-left: 0;
      margin-top: 6.2rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.8rem;
    }

    &__link{
      padding-left: 4px;
      display: block;
      padding-top: 0px;
      padding-bottom: 0px;
      text-decoration: none;
      color: $green;
      font-size: 2.4rem;
      font-weight: 500;

      display: flex;
      align-items: center;
      gap: 3rem;
      &::before{
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 29px;
        height: 30px;
        display: block;
      }

      // position: relative;
      // &::before{
      //   content: '';
      //   position: absolute;
      //   left: 0; top: 2px;
      //   width: 2.5rem;
      //   height: 2.5rem;
      //   background-size: cover;
      //   background-repeat: no-repeat;
      //   opacity: .8;
      // }

      &_tel::before{
        background-image: url(../images/tel_2.svg);
      }
      &_mail::before{
        background-image: url(../images/mail_2.svg);
      }

      &:hover{
        color: $orange;
      }
      
    }


    &__form{
      flex-basis: 589px;
    }
  }
}

.card{
  border: 2px solid rgba($green, .4);
  padding: 3.2rem 5.8rem 4rem;
  border-radius: 2rem;

  &__title{
    font-size: 30px;
    font-family: $font-corm;
    margin-top: 0;
  }
  &__label{
    font-size: 12px;
    margin-bottom: 1rem;
    display: block;
    margin-left: .6rem;
  }
  &__input{
    font-size: 16px;
    border: 1px solid rgba($green, .4);
    border-radius: 2rem;
    margin-bottom: 2.8rem;
    display: block;
    padding: 2.2rem 3rem;
    margin-bottom: 2.7rem;
    width: 100%;
    box-sizing: border-box;
    &:focus{
      border: 1px solid rgba($green, 1);
      outline: none;
    }
    &:invalid{
      border: 1px solid rgba(red, 1);
    }
  }
  &__check{
    font-size: 1.2rem;
    color:rgba($green, .6);
    line-height: 1.5;
    max-width: 360px;
    margin-top: 1.6rem;
    margin-bottom: 0;
  }
  &__link{
    margin-top: 1.2rem;
    padding-left: 5.5rem;
    cursor: pointer;
    &:hover{
      background-color: #BF601F; 
    }
  }
  &__docs{
    color:rgba($green, .6);
    text-decoration: none;
    border-bottom: 1px solid #ecedec;
  }
}
