// this 07footer.scss imported in _root.scss
.footer {
  padding-top: 88px;
  border-top: 1px solid $green; // rgba(39, 48, 15, 1);
  color: $green;
  font-family: $font-jost;

  @media (max-width: 1440px){
    @include vVal(padding-top, 1440px, 320px, 88px, 34px);
  }

  // .footer__box
  &__box {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2.3rem;
      gap: 5px;
  }
  &__logo{
    width: auto;
  }
  &__info {
      margin-top: -8px;
      display: flex;
      justify-content: space-between;
      flex-basis: 66.5%;
      flex-wrap: nowrap;
      gap: 5px;

      @media (max-width: 768px){
        margin-top: 20px;
        @include vVal(margin-top, 768px, 320px, 20px, -12px);
      }
  }
  // .footer__list
  &__list {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
      font-size: 1.8rem;

      @media (max-width: 520px){
        font-size: 1.2rem;
      }
  }
  &__list-nav {
      
  }
  // .footer__item
  &__item {
      margin-bottom: 2rem;
      transition: all .3s ease;
      cursor: pointer;
      
      &:hover {
          color: $orange;
      }
  }
  // .footer__link
  &__link {
      text-decoration: none;
      color: $green;
      transition: all .3s ease;
      &:hover {
          color: $orange;
      }
  }
  // .footer__contact
  &__contact {
      display: flex;
      flex-direction: column;
      
  }
  &__contact-box {
      display: flex;
      flex-direction: column;
  }
  // .footer__tel
  &__tel {
      font-size: 3rem;
      text-decoration: none;
      margin-bottom: 3rem;
      color: $green;
      transition: all .3s ease;
      
      &:hover {
          color: $orange;
      }
  }
  // .footer__mail
  &__mail {
      font-size: 1.8rem;
      text-decoration: none;
      color: $green;
      transition: all .3s ease;
      &:hover {
          color: $orange;
      }

  }
  // .footer__text
  &__text {
      display: flex;
      justify-content: space-between;
      padding-bottom: 7.4rem;
      color: rgba( $green, .6);
  }
  // footer__author
  &__author{
    color: rgba($green, 0.6);
    a{
      text-decoration: none;
      color: rgba($green, 0.6);
      transition: all 0.7s;
    }
    &:hover a{
      color: $green;
    }
  }
   
  // -------------- media --------------
  @media (max-width: 1440px){
    &__info{
      @include vVal(flex-basis, 1440px, 1024px, 938px, 770px);
    }
  }
  @media (max-width: 1024px){
    &__box{
      flex-wrap: wrap;
    }
    &__logo{
      width: 100%;
      text-align: center;
      margin-bottom: 30px;      
    }
    &__info{
      flex-basis: 100%; 
    }
  }
  @media (max-width: 768px){
    &__box{
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
    }
    &__logo{
      flex-basis: auto;
    }
    &__info{
      flex-direction: column;
      align-items: center;
      // width: 100%;
      // max-width: 300px;
      width: 450px;

      // background-color: aqua;
    }
    &__tel{
      margin-bottom: 13px;      
    }
    &__mail{
      font-size: 12px;
      text-align: center;
    }
    &__item{
      text-align: center;
    }
    &__list-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 7px;
      width: 100%;
    }
    &__text{
      flex-direction: column;
      align-items: center;
      font-size: 10px;
    }
    &__author{
      align-items: center;
      font-size: 10px;
    }

  }
  @media (max-width: 520px){
    &__info{
      width: 300px;
    }    
  }
  @media (max-width: 400px){
    &__info{
      width: 280px;
    }    
  }
}

.footer-social {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 2.6rem;
    padding-left: 28px;

    @media (max-width: 768px){
      justify-content: center;
      gap: 30px;
      padding-left: 0;
    }
  
    // .footer-social__item
    &__item {}
  
    // .footer-social__link
    &__link {
      display: block;
      border: 1px solid $green;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: .8;
  
      &:hover {
        opacity: 1;
      }
    }
  
    // .footer-social__vk
    &__vk {
      background-image: url(../images/social/vk.svg);
      background-size: 26px;
    }
  
    // .footer-social__inst
    &__inst {
      background-image: url(../images/social/inst.svg);
      background-size: 18px;
    }
  
    // .footer-social__fb
    &__fb {
      background-image: url(../images/social/fb.svg);
      background-size: 18px;
    }
}
