// this 07footer.scss imported in _root.scss
.footer {
  padding-top: 88px;
  border-top: 1px solid $green; // rgba(39, 48, 15, 1);
  color: $green;
  font-family: $font-jost;

  // .footer__box
  &__box {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2.3rem;
      gap: 5px;
  }
  &__info {
      margin-top: -8px;
      display: flex;
      justify-content: space-between;
      flex-basis: 66.5%;
      flex-wrap: nowrap;
      gap: 5px;
  }
  // .footer__list
  &__list {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
      font-size: 1.8rem;
  }
  &__list-nav {
      
  }
  // .footer__item
  &__item {
      margin-bottom: 2rem;
      transition: all .3s ease;
      cursor: pointer;
      
      &:hover {
          color: $orange;
      }
  }
  // .footer__link
  &__link {
      text-decoration: none;
      color: $green;
      transition: all .3s ease;
      &:hover {
          color: $orange;
      }
  }
  // .footer__contact
  &__contact {
      display: flex;
      flex-direction: column;
      
  }
  &__contact-box {
      display: flex;
      flex-direction: column;
  }
  // .footer__tel
  &__tel {
      font-size: 2.7rem;
      text-decoration: none;
      margin-bottom: 3rem;
      color: $green;
      transition: all .3s ease;
      
      &:hover {
          color: $orange;
      }
  }
  // .footer__mail
  &__mail {
      font-size: 1.8rem;
      text-decoration: none;
      color: $green;
      transition: all .3s ease;
      &:hover {
          color: $orange;
      }

  }
  // .footer__text
  &__text {
      display: flex;
      justify-content: space-between;
      padding-bottom: 7.4rem;
      color: rgba( $green, .6);
  }

  // .footer__copy
  &__copy {}

  // .footer__author
//   &__author {
//       cursor: pointer;
//   }
//   &__author-link {
//       text-decoration: none;
//       color: rgba( $green, .6);
//       transition: all .3s ease;
//   }
  &__author{
    color: rgba($green, 0.6);
    a{
      text-decoration: none;
      color: rgba($green, 0.6);
      transition: all 0.7s;
    }
    &:hover a{
      // opacity: 1;
      color: $green;
    }
  }
     
}

.footer-social {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin-top: 2.6rem;
  
    // .footer-social__item
    &__item {}
  
    // .footer-social__link
    &__link {
      display: block;
      border: 1px solid $green;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      opacity: .8;
      transition: all .3s ease;
  
      &:hover {
        opacity: 1;
      }
    }
  
    // .footer-social__vk
    &__vk {
      background-image: url(../images/social/vk.svg);
      background-size: 26px;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    // .footer-social__inst
    &__inst {
      background-image: url(../images/social/inst.svg);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    // .footer-social__fb
    &__fb {
      background-image: url(../images/social/fb.svg);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center;
    }
}
