// this 090temp.scss imported in _root.scss
.slideBox{
  // background-color: aquamarine;
  margin: 2px;
  height: 521px;
  box-sizing: border-box;
  padding: 38px;
  border: 1px solid rgba($green, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 0 2px rgba($green, 0.0) inset;

  @media (max-width: 1023px){
    height: calc(1.45 * (100vw - 1*20px - 2*15px) / 2);
    max-height: 521px;
  }
  @media (max-width: 767px){
    height: calc(1.3 * 70vw);
  }
  @media (max-width: 440px){
    max-width: 212px;
    margin: 0 auto;
  }
  @media (max-width: 320px){
    height: 302px;
  }

  &:hover{
    box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
    .slideBox__image{
      opacity: 0.6;
    }
    .slideBox__text{
      display: block;
    }
    .slideBox__more{
      display: block;
    }
  }
  &__container{
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: red;
  }
  &__image{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;

    @media (max-width: 1024px){
      height: 40%;
    }
  }
  &__image_milk{
    background-image: url(../images/x_milk.png);
  }
  &__image_pasta{
    background-image: url(../images/x_pasta.png);
  }
  &__image_meat{
    background-image: url(../images/x_meat.png);
  }
  &__info{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    bottom: 0;
    // z-index: 20;
    color: $green;    
    font-family: $font-jost;
  }
  &__name{
    // background-color: bisque;
    font-family: $font-corm;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    @media (max-width: 1024px){
      // text-align: center;
    }
    @media (max-width: 440px){
      text-align: center;
    }
  }
  &__text{
    display: none;
    margin-top: 29px;
    // background-color: cornsilk;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7; 
    @media (max-width: 1024px){
      display: block;
      // text-align: center;
    }
    @media (max-width: 440px){
      display: none;
    }
  }
  &__moreBox{
    @media (max-width: 440px){
      text-align: center;
    }
  }
  &__more{
    display: none;
    margin-top: 37px;
    padding-left: 52px;
    // background-color: bisque;
    font-size: 16px;
    font-weight: 500;  
    opacity: 0.8;   
    text-decoration: none;
    color: $green;
    position: relative;
    @media (max-width: 1024px){
      display: inline-block;
      // text-align: center;
    }

    &::before{
      content: '';
      position: absolute;
      left: 0; top: -6px;
      width: 31px;
      height: 31px;
      background-image: url(../images/plus.svg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .8;
    }
    &:hover{
      opacity: 1;

      &::before{
        opacity: 1;
      }
    }    
  }
}
