@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$font-jost: 'Jost', sans-serif;
$font-corm: 'Cormorant', serif;
$font: $font-jost;

$green: #27300F;
$orange: #d26a22; //RGBA(210, 106, 34, 1);
$darkorange: #cf5c0d;
$white: white;

@mixin vVal($prop, $size1, $size2, $val1, $val2){ // мой первый миксин )
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - ($size1 - 100vw) * $k);
  @if $prop == "left" {
    left: $v;
  } @else if $prop == "right" {
    right: $v;
  } @else if $prop == "top" {
    top: $v;
  } @else if $prop == "bottom" {
    bottom: $v;
  } @else if $prop == "font-size" {
    font-size: $v;
  }  
}

.test{
  height: 400px;
  background-color: cadetblue;
  position: relative;
  &__itemx1{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    left: 50px;
  }
  &__itemx2{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    left: 150px;
  }
  &__itemx3{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    right: 50px;
  }
  &__itemx4{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    right: 150px;
  }
  &__itemx{
    width: 50px;
    height: 50px;
    background-color: rgb(21, 231, 38);
    position: absolute;
    top: 50%;
    @include vVal(right, 1400px, 1000px, 50px, 150px);
  }

  &__item1{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    top: 50px;
  }
  &__item2{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    top: 150px;
  }
  &__item3{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    bottom: 50px;
  }
  &__item4{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    bottom: 150px;
  }
  &__item{
    width: 50px;
    height: 50px;
    background-color: rgb(21, 231, 38);
    position: absolute;
    left: 50%;
    @include vVal(bottom, 1400px, 1000px, 50px, 150px);
  }
}

html{
  font-size: 10px;
  // overflow-x: hidden;
}
body{
  font-size: 1.6rem;
  font-family: $font;
  color: $green;
  background-image: url(../images/bg/general.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  // overflow-x: hidden;
}
.listClr{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.container{
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 768px){
    max-width: 600px;
  }
}

.logo {
  display: block;
  flex-basis: 12rem;
  height: 3.2rem;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;

  &_h{
    width: 17.9rem;
    height: 4.8rem;
  }
  @media (max-width: 320px){
    flex-basis: 9.6rem;
    height: 2.5rem;
  }  
}

.link{
  color:$white;
  letter-spacing: .13rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5rem 4.2rem;
  box-shadow: 0px 1rem 1.1rem .2rem rgba(207,92,13,0.2);
  border-radius: 3.8rem;
  border: none;
  display: inline-block;
  cursor: pointer;

  background-color: $orange;
  // border: 3px solid transparent;
  &:hover{
    background-color: $darkorange; 
    // border: 3px solid black;
  }
  &_s{
    font-size: 14px;
    padding: 2.1rem 3.5rem;
    border-radius: calc(7px + 2.1rem);
  }
}

.title{
  font-family: $font-corm;
  font-weight: 700;
  font-size: 7.8rem;
  margin: 0;
  &__span{
    font-style: italic;
  }
  &_block{
    .title__span{
      display:block;
      margin-top: -13px;
    }
  }
  @media (max-width: 1200px){
    font-size: 7rem;
  }
  @media (max-width: 440px){
    font-size: 5rem;
  }
}

.description{
  margin: 0;
  line-height: 1.5;
  &_size-s{
    font-size: 1.8rem;
  }
  &_size-m{
    font-size: 2.4rem;
    letter-spacing: 1px;
  }

  @media (max-width: 1200px){
    font-size: 1.6rem;
    &_size-m{
      font-size: 2.2rem;
    }
  }
  @media (max-width: 768px){
    text-align: center;
  }

}

a, a::before{
  transition:all .3s;
}
.flu{
   transition:all .3s;
}

@import '010main';
@import '011main.header';
@import '012main.text';
@import '020offer';
@import '030about';
@import '040trends';
@import '050catalog';
@import '060delivery';
@import '070contact';
@import '080footer';
