@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$font-jost: 'Jost', sans-serif;
$font-corm: 'Cormorant', serif;
$font: $font-jost;

$green: #27300F;
$orange: #d26a22; //RGBA(210, 106, 34, 1);
$darkorange: #cf5c0d;
$white: white;

$glob: 0;
$glob1: 0;
$glob2: 0;
$glob3: 0;
$glob4: 0;

@mixin vCalc1($size1, $size2,  $val1, $val2){
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  $glob1: $v !global;
}
@mixin vCalc2($size1, $size2,  $val1, $val2){
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  $glob2: $v !global;
}
@mixin vCalc3($size1, $size2,  $val1, $val2){
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  $glob3: $v !global;
}
@mixin vCalc4($size1, $size2,  $val1, $val2){
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  $glob4: $v !global;
}
@mixin vVal($prop, $size1, $size2, $val1, $val2){ // мой первый миксин )
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  $glob: $v !global;
  @if $prop == "left" {
    left: $v;
  } @else if $prop == "right" {
    right: $v;
  } @else if $prop == "top" {
    top: $v;
  } @else if $prop == "bottom" {
    bottom: $v;
  } @else if $prop == "width" {
    width: $v;
  } @else if $prop == "height" {
    height: $v;
  } @else if $prop == "font-size" {
    font-size: $v;
  }  @else if $prop == "margin-top" {
    margin-top: $v;
  }  @else if $prop == "margin-right" {
    margin-right: $v;
  }  @else if $prop == "margin-bottom" {
    margin-bottom: $v;
  }  @else if $prop == "margin-left" {
    margin-left: $v;
  }  @else if $prop == "padding-bottom" {
    padding-bottom: $v;
  }  @else if $prop == "padding-left" {
    padding-left: $v;
  }  @else if $prop == "padding-right" {
    padding-right: $v;
  }  @else if $prop == "padding-top" {
    padding-top: $v;
  }  @else if $prop == "min-width" {
    min-width: $v;
  }  @else if $prop == "min-height" {
    min-height: $v;
  }  @else if $prop == "flex-basis" {
    flex-basis: $v;
  }  @else if $prop == "gap" {
    gap: $v;
  }  
}
@mixin v2Val($prop, $size1, $size2, $val1, $val21, $val2, $val22){ // мой 2 миксин )
  $k: calc(($val1 - $val2) / ($size1 - $size2));
  $v: calc($val1 - (($size1 - 100vw) * $k)); // 
  $k2: calc(($val21 - $val22) / ($size1 - $size2));
  $v2: calc($val21 - (($size1 - 100vw) * $k2)); // 
  @if $prop == "padding" {
    padding: $v $v2;
  }  @else if $prop == "margin" {
    margin: $v $v2;
  }  
}

.test{
  height: 400px;
  background-color: cadetblue;
  position: relative;
  &__itemx1{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    left: 50px;
  }
  &__itemx2{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    left: 150px;
  }
  &__itemx3{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    right: 50px;
  }
  &__itemx4{
    width: 1px;
    height: 90%;
    background-color: gold;
    position: absolute;
    top: 5%;
    right: 150px;
  }
  &__itemx{
    width: 50px;
    height: 50px;
    background-color: rgb(21, 231, 38);
    position: absolute;
    top: 50%;
    @include vVal(right, 1400px, 1000px, 50px, 150px);
  }

  &__item1{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    top: 50px;
  }
  &__item2{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    top: 150px;
  }
  &__item3{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    bottom: 50px;
  }
  &__item4{
    width: 90%;
    height: 1px;
    background-color: gold;
    position: absolute;
    left: 5%;
    //bottom: 150px;
    top:96px;
  }
  &__item{
    width: 50px;
    height: 50px;
    background-color: rgb(21, 231, 38);
    position: absolute;
    left: 50%;
    //@include vVal(bottom, 1400px, 1000px, 50px, 150px);
    @include vVal(top, 1400px, 1201px, 96px, 57px);
  }
}
// ============================================================
html{
  font-size: 10px;
  // overflow-x: hidden;
}
body{
  font-size: 1.6rem;
  font-family: $font;
  color: $green;
  background-image: url(../images/bg/general.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  overflow-x: hidden;
}
.listClr{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.container{
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 768px){
    max-width: 600px;
  }
}

.logo {
  display: inline-block;
  flex-basis: 12rem;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 3.2rem;
  width: 17.9rem;
  // height: 4.8rem;

  &_h{
    @media (max-width: 320px){
      flex-basis: 9.6rem;
      height: 2.5rem;
    }  
  }
  &_f{
    width: 17.9rem;
    height: 4.8rem;

    @media (max-width: 1024px){
      background-position: center;
      @include vVal(width, 1024px, 320px, 179px, 120px);
      @include vVal(height, 1024px, 320px, 48px, 32px);
    }
    @media (max-width: 320px){
      width: 120px;
      height: 32px;
    }  
  }
}

.link{
  color:$white;
  letter-spacing: .13rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5rem 4.2rem;
  box-shadow: 0px 1rem 1.1rem .2rem rgba(207,92,13,0.2);
  border-radius: 3.8rem;
  border: none;
  display: inline-block;
  cursor: pointer;

  background-color: $orange;
  // border: 3px solid transparent;
  &:hover{
    background-color: $darkorange; 
    // border: 3px solid black;
  }
  &_new{ // тренд
    font-size: 16px;
    padding: 2.6rem 5.2rem;
    border-radius: calc(8px + 2.6rem);
  }
  &_s{ // каталог
    font-size: 14px;
    padding: 2.1rem 3.5rem;
    border-radius: calc(7px + 2.1rem);
  }
  &_frm{ // форма
    font-size: 16px;
    padding: 2.6rem 4.9rem;
    border-radius: calc(7px + 2.1rem);
  }

  @media (max-width: 1440px){
    @include vVal(font-size, 1440px, 320px, 16px, 12px);
    @include v2Val(padding, 1440px, 320px, 24px, 43px, 16px, 27px);
    &_new{
      @include vVal(font-size, 1440px, 900px, 16px, 10px);
      @include v2Val(padding, 1440px, 900px, 26px, 52px, 15px, 30px);
    }
    &_s{
      @include vVal(font-size, 1440px, 900px, 14px, 10px);
      @include v2Val(padding, 1440px, 900px, 22px, 35px, 15px, 25px);
    }
    &_frm{
      @include vVal(font-size, 1440px, 900px, 16px, 12px);
      @include v2Val(padding, 1440px, 900px, 26px, 49px, 17px, 30px);
    }
  }
  @media (max-width: 768px){
    &_new{
      font-size: 14px;
      padding: 16px 30px;
      margin-right: -12px;
    }
    &_s{
      font-size: 10px;
      padding: 15px 25px;
    }
  }
  @media (max-width: 420px){
    &_new{
      text-align: center;
    }
  }
  @media (max-width: 320px){
    font-size: 12px;
    padding: 16px 27px;
    &_new{
      font-size: 10px;
      padding: 15px 30px;
    }
    &_s{
      font-size: 10px;
      padding: 15px 25px;
    }
    &_frm{
      font-size: 12px;
      padding: 17px 30px;
    }
  }
}

.title{
  font-family: $font-corm;
  font-weight: 700;
  font-size: 7.8rem;
  margin: 0;
  &__span{
    font-style: italic;
  }
  &_block{
    .title__span{
      display:block;
      margin-top: -13px;
    }
  }
  @media (max-width: 1440px){
    @include vVal(font-size, 1440px, 320px, 80px, 30px);
  }
  // @media (max-width: 1200px){
  //   font-size: 7rem;
  // }
  // @media (max-width: 440px){
  //   font-size: 5rem;
  // }
}

.subtitLeftShift{
  margin-left: 125px;
  @media (max-width: 1440px){
    @include vVal(margin-left, 1440px, 1024px, 125px, 0px);
  }
  @media (max-width: 1024px){
    margin-left: 0;
  }
}

.description{
  margin: 0;
  line-height: 1.5;
  &_size-s{
    font-size: 1.8rem;
  }
  &_size-m{
    font-size: 2.4rem;
    letter-spacing: 1px;
  }

  @media (max-width: 1440px){
    @include vVal(font-size, 1440px, 320px, 18px, 12px);
  }
  // @media (max-width: 1200px){
  //   font-size: 1.6rem;
  //   &_size-m{
  //     font-size: 2.2rem;
  //   }
  // }
  // @media (max-width: 768px){
  //   text-align: center;
  // }
}

.card{
  border: 2px solid rgba($green, .4);
  padding: 3.2rem 5.8rem 4rem;
  border-radius: 2rem;

  @media (max-width: 768px){
    padding: 3.2rem 15px;
  }
  @media (max-width: 320px){
    font-size: 22px;
    text-align: center;
  }

  &__title{
    font-size: 30px;
    font-family: $font-corm;
    margin-top: 0;

    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 30px, 22px);
    }
    @media (max-width: 320px){
      font-size: 22px;
      text-align: center;
    }
  }
  &__label{
    font-size: 12px;
    margin-bottom: 1rem;
    display: block;
    margin-left: .6rem;

    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 12px, 10px);
    }
    @media (max-width: 320px){
      font-size: 10px;
      text-align: left;
    }
  }
  &__input{
    font-size: 16px;
    border: 1px solid rgba($green, .4);
    border-radius: 2rem;
    margin-bottom: 2.8rem;
    display: block;
    padding: 2.2rem 3rem;
    margin-bottom: 2.7rem;
    width: 100%;
    box-sizing: border-box;
    &:focus{
      border: 1px solid rgba($green, 1);
      outline: none;
    }
    &:invalid{
      border: 1px solid rgba(red, 1);
    }

    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 16px, 12px);
      padding: 1.8rem 1.7rem;
    }
    @media (max-width: 320px){
      font-size: 12px;
    }
  }
  &__link{
    margin-top: 1.2rem;
    // padding-left: 5.5rem;
    cursor: pointer;
    background-color: $orange;
    width: 260px;
    padding-left: 0; padding-right: 0;
    &:hover{
      background-color: $darkorange; 
    }

    @media (max-width: 768px){
      padding-left: 0;
      @include vVal(font-size, 768px, 320px, 16px, 12px);
      @include vVal(width, 768px, 320px, 260px, 180px);
      padding-top: 17px;
      padding-bottom: 17px;
    }
    @media (max-width: 320px){
      font-size: 12px;
      width: 180px;
    }
  }
  &__check{
    font-size: 1.2rem;
    color:rgba($green, .6);
    line-height: 1.5;
    max-width: 360px;
    margin-top: 1.6rem;
    margin-bottom: 0;

    @media (max-width: 768px){
      @include vVal(font-size, 768px, 320px, 12px, 10px);
    }
    @media (max-width: 320px){
      font-size: 10px;
      text-align: center;
    }
  }
  &__docs{
    color:rgba($green, .6);
    text-decoration: none;
    border-bottom: 1px solid #ecedec;
  }
}

a, a::before{
  transition:background-color .3s,color .3s,border .3s;
}
.flu{
  transition:background-color .3s,color .3s,border .3s;
}

@import '010main';
@import '_swiper';
@import '011main.header';
@import '012main.text';
@import '020offer';
@import '030about';
@import '040trends';
@import '050catalog';
@import '060delivery';
@import '070contact';
@import '080footer';
@import '090temp';
