@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$font-jost: 'Jost', sans-serif;
$font-corm: 'Cormorant', serif;
$font: $font-jost;

$green: #27300F;
$orange: #d26a22; //RGBA(210, 106, 34, 1);
$darkorange: #cf5c0d;
$white: white;

html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  font-family: $font;
  color: $green;
  background-image: url(../images/bg/general.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}
.listClr{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
.container{
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 768px){
    max-width: 600px;
  }
}

.title{
  font-family: $font-corm;
  font-weight: 700;
  font-size: 7.8rem;
  margin: 0;
  &__span{
    font-style: italic;
  }
  &_block{
    .title__span{
      display:block;
      margin-top: -13px;
    }
  }
  @media (max-width: 1200px){
    font-size: 7rem;
  }
}

.description{
  margin: 0;
  line-height: 1.5;
  &_size-s{
    font-size: 1.8rem;
  }
  &_size-m{
    font-size: 2.4rem;
    letter-spacing: 1px;
  }

  @media (max-width: 1200px){
    font-size: 1.6rem;
    &_size-m{
      font-size: 2.2rem;
    }
  }
  @media (max-width: 768px){
    text-align: center;
  }

}

a, a::before{
  transition:all .3s;
}
.flu{
   transition:all .3s;
}

@import '010main';
@import '011main.header';
@import '012main.text';
@import '020offer';
@import '030about';
@import '040trends';
@import '050catalog';
@import '060delivery';
@import '070contact';
@import '080footer';
