@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$font-jost: 'Jost', sans-serif;
$font-corm: 'Cormorant', serif;
$font: $font-jost;

$green: #27300F;
$orange: #d26a22; //RGBA(210, 106, 34, 1);
$white: white;

html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  font-family: $font;
  color: $green;
}
.container{
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
}

.description{
  margin: 0;
  line-height: 1.5;
  &_size-s{
    font-size: 1.8rem;
  }
  &_size-m{
    font-size: 2.4rem;
  }
}

@import 'main';
@import 'offer';